#p_1{width:500px;padding:1em;background-color: orange;text-align: left;}
#p_2{width:500px;padding:1em;background-color: violet;text-align: right;}
.first{text-decoration: dotted}
.second{text-decoration: dashed}
.third{text-decoration: wavy}
